body {
  /* width: 1440px;
  height: 4804px;
  position: absolute; */
}

.logo-text {
  font-weight: 600;
  font-size: 32px;
  margin-left: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-top: 80px;
}

.nav-items li {
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.nav-items {
  display: flex;
  margin-left: 500px;
  margin-top: -120px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 50px;
}

.green {
  color: #71a894;
}

nav {
  width: 100%;
  height: 100%;
}

.heading h1 {
  font-weight: 800;
  font-size: 64px;
  font-family: "Lilita One", cursive;
  margin-top: 100px;
}

.heading p {
  font-weight: 400;
  font-size: 24px;
  color: Gray;
  margin-top: 20px;
}

.btn {
  background-color: #71a894;
  width: 219px;
  height: 64px;
  border-radius: 8px;
  color: White;
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
}

.heading {
  margin-left: 70px;
  width: 70%;
}

.btn:hover {
  color: black;
  cursor: pointer;
}

.box-1 {
  background-image: url(../assets/images/Vector.jpg);
  margin-top: 50px;
}

.group-1 {
  display: flex;
}

.section h1 {
  font-weight: 800;
  font-size: 48px;
  font-family: "Lilita One", cursive;
}

.section p {
  font-weight: 400;
  font-size: 18px;
  padding: 0 280px;
  margin-top: 30px;
}

.section {
  text-align: center;
  margin-top: 300px;
}

.card-1 {
  background-color: lightgray;
  width: 427px;
  height: 340px;
  border-radius: 8px;
  text-align: center;
  padding-top: 70px;
}

.cards h1 {
  font-weight: 700;
  font-size: 24px;
  padding-top: 20px;
}

.cards p {
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
  padding: 20px;
}

.card-2 {
  background-color: lightgray;
  width: 427px;
  height: 340px;
  border-radius: 8px;
  text-align: center;
  padding-top: 70px;
}

.card-3 {
  background-color: lightgray;
  width: 427px;
  height: 340px;
  border-radius: 8px;
  text-align: center;
  padding-top: 70px;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 40px;
}

.info-text h1 {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 30px;
  font-family: "Lilita One", cursive;
}

.info-text p {
  font-weight: 400;
  font-size: 18px;
}

.info-text {
  width: 644px;
  margin-right: 200px;
  margin-left: 50px;
  margin-top: 50px;
}

.member-box1 img {
  border-radius: 50%;
  float: left;
  margin-left: 40px;
  margin-top: 20px;
}

.members h1 {
  font-weight: 700;
  font-size: 32px;
  padding-top: 30px;
  padding-left: 30px;
}

.member-box2 img {
  float: left;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 5px;
}

.member-box2 {
  padding-top: 35px;
}

.member-box3 img {
  border-radius: 50%;
  float: left;
  margin-left: 40px;
  margin-bottom: 20px;
}

.member-box3 {
  padding-top: 30px;
}

.member-box1 h1 {
  font-weight: 600;
  font-size: 24px;
}

.member-box2 h1 {
  font-weight: 600;
  font-size: 24px;
}

.member-box3 h1 {
  font-weight: 600;
  font-size: 24px;
}

.member-text h1 {
  font-weight: 600;
  font-size: 24px;
}

.member-box1 h2 {
  font-weight: 500;
  font-size: 16px;
}

.member-box2 h2 {
  font-weight: 500;
  font-size: 16px;
}

.member-box3 h2 {
  font-weight: 500;
  font-size: 16px;
}

.members {
  border: 4px solid black;
  width: 484px;
  height: 400px;
  border-radius: 16px;
  background-image: #71a894;
  margin-right: 100px;
  box-shadow: 15px 15px #71a894;
}

.info-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.info-text img {
  padding-bottom: 20px;
}

.parent img {
  float: left;
  border-radius: 50%;
}

.parent h1 {
  font-weight: 700;
  font-size: 24px;
  margin-left: 80px;
  padding-top: 10px;
  font-family: "Chivo Mono", monospace;
}

.parent h2 {
  font-weight: 600;
  font-size: 16px;
  color: Gray;
  margin-left: 80px;
  padding-top: 5px;
  font-family: "Chivo Mono", monospace;
}

.proposal p {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  width: 404px;
}

.proposal {
  padding-left: 20px;
  border: 4px solid black;
  width: 484px;
  height: 412px;
  border-radius: 16px;
  padding-top: 30px;
}

.lil-box {
  display: flex;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: Gray;
  font-family: "Chivo Mono", monospace;
}

.lil-box h4 {
  padding-left: 150px;
}

.lil-box2 {
  display: flex;
  padding-top: 20px;
  font-weight: 500;
  font-size: 24px;
  font-family: "Chivo Mono", monospace;
}

.lil-box2 h6 {
  padding-left: 70px;
}

.vote {
  background-color: black;
  width: 404px;
  height: 56px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  border-radius: 16px;
  padding-top: 13px;
  font-family: "Chivo Mono", monospace;
  margin-top: 40px;
  margin-right: 20px;
}

.info-text2 h1 {
  font-weight: 800;
  font-size: 48px;
  font-family: "Lilita One", cursive;
  padding-top: 20px;
}

.info-text2 p {
  font-weight: 400;
  font-size: 18px;
  padding-top: 30px;
}

.info-2 {
  display: flex;
  margin-top: 200px;
  margin-left: 100px;
}

.info-text2 {
  padding: 100px;
  margin-left: 80px;
  margin-top: -70px;
}

.vote:hover {
  color: #71a894;
  cursor: pointer;
}

.info-text3 h1 {
  font-weight: 800;
  font-size: 48px;
  font-family: "Lilita One", cursive;
  padding-top: 20px;
}

.info-text3 p {
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
}

.info-text3 {
  width: 644px;
  height: 334px;
  margin-top: 200px;
  margin-left: 50px;
}

.share-box {
  display: flex;
}

.task {
  border: 4px solid black;
  border-radius: 16px;
  width: 560px;
  height: 164px;
}

.share-box h1 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Chivo Mono", monospace;
  padding-top: 5px;
}

.share-box h2 {
  background-color: #71a894;
  width: 82px;
  height: 32px;
  color: white;
  text-align: center;
  border-radius: 40px;
  padding-top: 7px;
  font-family: "Chivo Mono", monospace;
  margin-left: 100px;
}

.task p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding-right: 150px;
  padding-top: 20px;
}

.task {
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 0 10px #71a894;
  margin-top: 150px;
  margin-left: 150px;
}

.info-3 {
  display: flex;
}

.applicant-1 {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.applicants h1 {
  font-weight: 700;
  font-size: 24px;
  font-family: "Chivo Mono", monospace;
  padding-top: 30px;
}

.applicant-2 {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.applicant-3 {
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.applicants h2 {
  font-weight: 600;
  font-size: 20px;
  font-family: "Chivo Mono", monospace;
  padding-left: 20px;
}

.applicants {
  background-color: blanchedalmond;
  width: 381px;
  height: 288px;
  border: 4px solid black;
  border-radius: 16px;
  padding-left: 30px;
  margin-top: -190px;
}

.applicants h3 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Chivo Mono", monospace;
}

.rate-1 {
  display: flex;
  padding-left: 80px;
}

.rate-2 {
  display: flex;
  padding-left: 91px;
}

.rate-3 {
  display: flex;
  padding-left: 47px;
}

.profile h1 {
  font-weight: 700;
  font-size: 20px;
  font-family: "Chivo Mono", monospace;
  padding-top: 15px;
}

.profile h2 {
  font-weight: 500;
  font-size: 16px;
  color: Gray;
  font-family: "Chivo Mono", monospace;
}

.commit h3 {
  font-weight: 400;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding-left: 20px;
}

.commit h4 {
  font-weight: 500;
  font-size: 20px;
  font-family: "Chivo Mono", monospace;
}

.commit img {
  padding-left: 60px;
}

.commit {
  display: flex;
  padding-top: 15px;
}

.profile h5 {
  font-weight: 500;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  background-color: black;
  color: white;
  width: 192px;
  height: 44px;
  border-radius: 16px;
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 18px;
}

.profile h5:hover {
  color: #71a894;
  cursor: pointer;
}

.profile {
  border: 4px solid #71a894;
  width: 240px;
  height: 288px;
  text-align: center;
  border-radius: 16px;
  margin-left: 15px;
  margin-top: -170px;
}

.pfp {
  padding-top: 20px;
}

.rate-icon {
  padding-top: 1px;
}

.sum {
  display: flex;
  margin-left: 800px;
  margin-bottom: 00px;
}

.section-text h1 {
  font-weight: 800;
  font-size: 48px;
  font-family: "Lilita One", cursive;
}

.section-text p {
  font-weight: 400;
  font-size: 18px;
  padding: 0 280px;
  margin-top: 30px;
}

.section-text {
  text-align: center;
  margin-top: 150px;
}

.task-1 h1 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Chivo Mono", monospace;
  padding: 20px;
  width: 379px;
  height: 48px;
}

.task-1 p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding: 10px;
  width: 379px;
  height: 72px;
  padding-top: 40px;
  padding-left: 20px;
}

.task-1 h2 {
  font-weight: 500;
  font-size: 16px;
  background-color: #71a894;
  color: white;
  width: 72px;
  height: 32px;
  font-family: "Chivo Mono", monospace;
  border-radius: 40px;
  text-align: center;
  padding-top: 5px;
  margin-left: 20px;
}

.task-1 h3 {
  font-weight: 600;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding-left: 170px;
}

.task-1 {
  background-color: lightgray;
  width: 427px;
  height: 240px;
  border-radius: 16px;
}

.bounty {
  display: flex;
  padding-top: 70px;
  align-items: center;
}

.task-2 {
  background-color: lightgray;
  width: 427px;
  height: 216px;
  border-radius: 16px;
}

.tasks {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin: 50px;
}

.bounty-2 {
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.task-2 h1 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Chivo Mono", monospace;
  padding: 20px;
  width: 379px;
  height: 48px;
}

.task-2 p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding: 10px;
  width: 379px;
  height: 72px;
  padding-top: 20px;
  padding-left: 20px;
}

.task-2 h2 {
  font-weight: 500;
  font-size: 16px;
  background-color: #71a894;
  color: white;
  width: 72px;
  height: 32px;
  font-family: "Chivo Mono", monospace;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 5px;
}

.task-2 h3 {
  font-weight: 600;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding-left: 170px;
  padding-top: 15px;
}

.task-3 h1 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Chivo Mono", monospace;
  padding: 20px;
  width: 379px;
  height: 48px;
}

.task-3 p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding: 10px;
  width: 379px;
  height: 72px;
  padding-top: 20px;
  padding-left: 20px;
}

.bounty-3 {
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.task-3 h2 {
  font-weight: 500;
  font-size: 16px;
  background-color: #71a894;
  color: white;
  width: 72px;
  height: 32px;
  font-family: "Chivo Mono", monospace;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 5px;
}

.task-3 h3 {
  font-weight: 600;
  font-size: 16px;
  font-family: "Chivo Mono", monospace;
  padding-left: 170px;
  padding-top: 15px;
}

.task-3 {
  background-color: lightgray;
  width: 427px;
  height: 216px;
  border-radius: 16px;
}

.view {
  width: 136px;
  height: 64px;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  text-align: center;
  margin-left: 720px;
  padding-top: 20px;
}

.view:hover {
  color: green;
  cursor: pointer;
}

.section-text2 h1 {
  font-weight: 800;
  font-size: 48px;
  font-family: "Lilita One", cursive;
  margin-top: 200px;
}

.section-text2 p {
  font-weight: 400;
  font-size: 18px;
  width: 644px;
  padding-top: 30px;
}

.section-text2 h2 {
  background-color: #71a894;
  width: 219px;
  height: 64px;
  border-radius: 8px;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
}

.section-text2 {
  margin-left: 50px;
}

.section-text2 h2:hover {
  color: black;
  cursor: pointer;
}

.section-2 {
  display: flex;
}

.section-2 img {
  margin-top: 130px;
  margin-left: 80px;
}

footer h1 {
  font-weight: 800;
  font-size: 24px;
}

.nav-links li {
  font-weight: 500;
  font-size: 20px;
  padding: 20px;
}
.nav-links {
  display: flex;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  margin-left: 50px;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

nav {
  margin-left: -200px;
  transition: 1s;
}

nav.show {
  margin-left: 0;
}

.logo {
  cursor: pointer;
}

@media (max-width: 768px) {
  .group-1,
  .section,
  .cards,
  .info-1,
  .info-2,
  .info-3,
  .tasks,
  .section-2,
  footer,
  .nav-links,
  header,
  .nav-items {
    flex-direction: column;
  }
}

.sum {
  position: absolute;
}

@media (max-width: 768px) {
  .section p,
  .section-text p {
    margin-left: -50px;
  }
  .info-text2 {
    margin-left: -100px;
  }
  .info-2 {
    margin-left: ;
  }
  .nav-items {
    margin-top: 80px;
  }
}
